In [38]:
import pandas as pd
# import os
# !pwd

data = pd.read_csv(r"~/Desktop/DataCoSupplyChainDataset.csv", encoding='cp1252')
# print(data)

In [3]:
data.columns # data columns

Index(['Type', 'Days for shipping (real)', 'Days for shipment (scheduled)',
       'Benefit per order', 'Sales per customer', 'Delivery Status',
       'Late_delivery_risk', 'Category Id', 'Category Name', 'Customer City',
       'Customer Country', 'Customer Email', 'Customer Fname', 'Customer Id',
       'Customer Lname', 'Customer Password', 'Customer Segment',
       'Customer State', 'Customer Street', 'Customer Zipcode',
       'Department Id', 'Department Name', 'Latitude', 'Longitude', 'Market',
       'Order City', 'Order Country', 'Order Customer Id',
       'order date (DateOrders)', 'Order Id', 'Order Item Cardprod Id',
       'Order Item Discount', 'Order Item Discount Rate', 'Order Item Id',
       'Order Item Product Price', 'Order Item Profit Ratio',
       'Order Item Quantity', 'Sales', 'Order Item Total',
       'Order Profit Per Order', 'Order Region', 'Order State', 'Order Status',
       'Order Zipcode', 'Product Card Id', 'Product Category Id',
       'Product Description', 'Product Image', 'Product Name', 'Product Price',
       'Product Status', 'shipping date (DateOrders)', 'Shipping Mode'],
      dtype='object')

In [13]:
# data.shape # dimension of my dataset 180519, 53
# data['Type'].values
# data.head() 
pd.options.display.max_columns=60 # this allows me to view all the columns, instead of seeing a ... between them
# data.head

In [62]:
# data.describe()
# data.info()
# data.head()
# data[data['Customer Country']=='EE. UU.']

In [22]:
# data['Product Name'].unique()
data[data['Product Name']=='Dell Laptop']

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Id,Category Name,Customer City,Customer Country,Customer Email,Customer Fname,Customer Id,Customer Lname,Customer Password,Customer Segment,Customer State,Customer Street,Customer Zipcode,Department Id,Department Name,Latitude,Longitude,Market,Order City,Order Country,Order Customer Id,order date (DateOrders),Order Id,Order Item Cardprod Id,Order Item Discount,Order Item Discount Rate,Order Item Id,Order Item Product Price,Order Item Profit Ratio,Order Item Quantity,Sales,Order Item Total,Order Profit Per Order,Order Region,Order State,Order Status,Order Zipcode,Product Card Id,Product Category Id,Product Description,Product Image,Product Name,Product Price,Product Status,shipping date (DateOrders),Shipping Mode
152,DEBIT,5,2,595.349976,1417.5,Late delivery,1,64,Computers,Caguas,Puerto Rico,XXXXXXXXX,Alma,14287,Delgado,XXXXXXXXX,Consumer,PR,7274 Middle Wynd,725.0,10,Technology,18.252497,-66.037048,Europe,London,Reino Unido,14287,10/29/2017 12:55,70734,1351,82.5,0.06,174049,1500.0,0.42,1,1500.0,1417.5,595.349976,Northern Europe,Inglaterra,COMPLETE,NaN,1351,64,NaN,http://images.acmesports.sports/Dell+Laptop,Dell Laptop,1500.0,0,11/3/2017 12:55,Second Class
155,DEBIT,5,2,55.799999,1395.0,Late delivery,1,64,Computers,Caguas,Puerto Rico,XXXXXXXXX,Alyssa,14322,Contreras,XXXXXXXXX,Consumer,PR,9870 Little Hickory Loop,725.0,10,Technology,18.232889,-66.037064,Europe,Bradford,Reino Unido,14322,10/30/2017 1:10,70769,1351,105.0,0.07,174084,1500.0,0.04,1,1500.0,1395.0,55.799999,Northern Europe,Inglaterra,COMPLETE,NaN,1351,64,NaN,http://images.acmesports.sports/Dell+Laptop,Dell Laptop,1500.0,0,11/4/2017 1:10,Second Class
160,DEBIT,5,2,86.000000,1365.0,Late delivery,1,64,Computers,Caguas,Puerto Rico,XXXXXXXXX,Audrey,14087,Acosta,XXXXXXXXX,Consumer,PR,8967 Sleepy Lane,725.0,10,Technology,18.266399,-66.037064,Europe,Nancy,Francia,14087,10/26/2017 14:51,70534,1351,135.0,0.09,173849,1500.0,0.06,1,1500.0,1365.0,86.000000,Western Europe,Alsacia-Champaña-Ardenas-Lorena,COMPLETE,NaN,1351,64,NaN,http://images.acmesports.sports/Dell+Laptop,Dell Laptop,1500.0,0,10/31/2017 14:51,Second Class
172,DEBIT,5,2,90.000000,1200.0,Late delivery,1,64,Computers,Caguas,Puerto Rico,XXXXXXXXX,Winifred,14097,Alexander,XXXXXXXXX,Consumer,PR,146 Middle Terrace,725.0,10,Technology,18.209394,-66.037056,Europe,Letchworth,Reino Unido,14097,10/26/2017 18:21,70544,1351,300.0,0.20,173859,1500.0,0.08,1,1500.0,1200.0,90.000000,Northern Europe,Inglaterra,COMPLETE,NaN,1351,64,NaN,http://images.acmesports.sports/Dell+Laptop,Dell Laptop,1500.0,0,10/31/2017 18:21,Second Class
1353,PAYMENT,3,4,82.410004,1230.0,Advance shipping,0,64,Computers,Caguas,Puerto Rico,XXXXXXXXX,Margaret,14170,Foreman,XXXXXXXXX,Home Office,PR,1987 Gentle Passage,725.0,10,Technology,18.247154,-66.037064,Europe,Fontenay-aux-Roses,Francia,14170,10/27/2017 19:55,70617,1351,270.0,0.18,173932,1500.0,0.07,1,1500.0,1230.0,82.410004,Western Europe,Isla de Francia,PAYMENT_REVIEW,NaN,1351,64,NaN,http://images.acmesports.sports/Dell+Laptop,Dell Laptop,1500.0,0,10/30/2017 19:55,Standard Class
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173422,CASH,3,4,626.400024,1305.0,Advance shipping,0,64,Computers,Caguas,Puerto Rico,XXXXXXXXX,Chloe,14390,Fox,XXXXXXXXX,Consumer,PR,7368 Colonial Range,725.0,10,Technology,18.257235,-66.037064,Europe,Amadora,Portugal,14390,10/31/2017 1:00,70837,1351,195.0,0.13,174152,1500.0,0.48,1,1500.0,1305.0,626.400024,Southern Europe,Lisboa,CLOSED,NaN,1351,64,NaN,http://images.acmesports.sports/Dell+Laptop,Dell Laptop,1500.0,0,11/3/2017 1:00,Standard Class
173423,CASH,4,4,127.500000,1275.0,Shipping on time,0,64,Computers,Caguas,Puerto Rico,XXXXXXXXX,Nerea,14101,Cantrell,XXXXXXXXX,Consumer,PR,8365 Thunder Way,725.0,10,Technology,18.228741,-66.037056,Europe,Dublín,Irlanda,14101,10/26/2017 19:45,70548,1351,225.0,0.15,173863,1500.0,0.10,1,1500.0,1275.0,127.500000,Northern Europe,Dublín,CLOSED,NaN,1351,64,NaN,http://images.acmesports.sports/Dell+Laptop,Dell Laptop,1500.0,0,10/30/2017 19:45,Standard Class
173928,CASH,5,4,690.900024,1470.0,Late delivery,1,64,Computers,Caguas,Puerto Rico,XXXXXXXXX,Chiquita,18117,Armstrong,XXXXXXXXX,Consumer,PR,2002 Grand Hickory Line,725.0,10,Technology,18.227665,-66.037064,Pacific Asia,Sydney,Australia,18117,12/24/2017 10:44,74564,1351,30.0,0.02,177879,1500.0,0.47,1,1500.0,1470.0,690.900024,Oceania,Nueva Gales del Sur,CLOSED,NaN,1351,64,NaN,http://images.acmesports.sports/Dell+Laptop,Dell Laptop,1500.0,0,12/29/2017 10:44,Standard Class
173932,CASH,6,4,-320.399994,1200.0,Late delivery,1,64,Computers,Caguas,Puerto Rico,XXXXXXXXX,Christine,18103,Emerson,XXXXXXXXX,Consumer,PR,7683 Sunny Sky Field,725.0,10,Technology,18.212677,-66.037048,Pacific Asia,Wuchang,China,18103,12/24/2017 5:50,74550,1351,300.0,0.20,177865,1500.0,-0.27,1,1500.0,1200.0,-320.399994,Eastern Asia,Heilongjiang,CLOSED,NaN,1351,64,NaN,http://images.acmesports.sports/Dell+Laptop,Dell Laptop,1500.0,0,12/30/2017 5:50,Standard Class
175110,DEBIT,2,1,356.399994,1320.0,Late delivery,1,64,Computers,Caguas,Puerto Rico,XXXXXXXXX,Felicia,14265,Harrison,XXXXXXXXX,Consumer,PR,5008 Hidden Autoroute,725.0,10,Technology,18.288794,-66.037056,Europe,Montmorency,Francia,14265,10/29/2017 5:12,70712,1351,180.0,0.12,174027,1500.0,0.27,1,1500.0,1320.0,356.399994,Western Europe,Isla de Francia,COMPLETE,NaN,1351,64,NaN,http://images.acmesports.sports/Dell+Laptop,Dell Laptop,1500.0,0,10/31/2017 5:12,First Class

In [30]:
data.info()
# data['product']

# Order Zip Code has a few NULL values and 'Product Description' is all NULL values.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180519 entries, 0 to 180518
Data columns (total 53 columns):
Type                             180519 non-null object
Days for shipping (real)         180519 non-null int64
Days for shipment (scheduled)    180519 non-null int64
Benefit per order                180519 non-null float64
Sales per customer               180519 non-null float64
Delivery Status                  180519 non-null object
Late_delivery_risk               180519 non-null int64
Category Id                      180519 non-null int64
Category Name                    180519 non-null object
Customer City                    180519 non-null object
Customer Country                 180519 non-null object
Customer Email                   180519 non-null object
Customer Fname                   180519 non-null object
Customer Id                      180519 non-null int64
Customer Lname                   180511 non-null object
Customer Password                180519 non-null object
Customer Segment                 180519 non-null object
Customer State                   180519 non-null object
Customer Street                  180519 non-null object
Customer Zipcode                 180516 non-null float64
Department Id                    180519 non-null int64
Department Name                  180519 non-null object
Latitude                         180519 non-null float64
Longitude                        180519 non-null float64
Market                           180519 non-null object
Order City                       180519 non-null object
Order Country                    180519 non-null object
Order Customer Id                180519 non-null int64
order date (DateOrders)          180519 non-null object
Order Id                         180519 non-null int64
Order Item Cardprod Id           180519 non-null int64
Order Item Discount              180519 non-null float64
Order Item Discount Rate         180519 non-null float64
Order Item Id                    180519 non-null int64
Order Item Product Price         180519 non-null float64
Order Item Profit Ratio          180519 non-null float64
Order Item Quantity              180519 non-null int64
Sales                            180519 non-null float64
Order Item Total                 180519 non-null float64
Order Profit Per Order           180519 non-null float64
Order Region                     180519 non-null object
Order State                      180519 non-null object
Order Status                     180519 non-null object
Order Zipcode                    24840 non-null float64
Product Card Id                  180519 non-null int64
Product Category Id              180519 non-null int64
Product Description              0 non-null float64
Product Image                    180519 non-null object
Product Name                     180519 non-null object
Product Price                    180519 non-null float64
Product Status                   180519 non-null int64
shipping date (DateOrders)       180519 non-null object
Shipping Mode                    180519 non-null object
dtypes: float64(15), int64(14), object(24)
memory usage: 73.0+ MB

In [25]:
# print('Debit:')
# print(data['Type'][data['Type']=='DEBIT'].count())
# print('Transfer:')
# print(data['Type'][data['Type']=='TRANSFER'].count())
# print('Cash:')
# print(data['Type'][data['Type']=='CASH'].count())
# print('Payment:')
# print(data['Type'][data['Type']=='PAYMENT'].count())
# data['Customer Country'].unique()
# data['Customer Country'][data['Customer Country']=='EE. UU.'].count()
# data['Customer Country'][data['Customer Country']=='Puerto Rico'].count()
# %matplotlib inline
# data['Product Price'].hist(bins=100)

In [54]:
# Limit to attributes deemed important at the start:
# data.loc[data[, ['Type', 'Days for shipping (real)', 'Days for shipping (scheduled)', 'Benefit per order', 'Sales per customer', 'Delivery status', 'Late_delivery_risk', 'Category Id', 'Category name', 'Customer City', 'Customer Country', 'Customer Segment', 'Customer State', 'Cusomter Street', 'Cusomter Zipcode', 'Department Name', 'Market', 'Order City', 'Order Country', 'Order date (DateOrders)', 'Order Item Discount', 'Order Item Discount Rate', 'Order Item Product Price', 'Order Item Profit Ratio', 'Order Item Quanity', 'Sales', 'Order Item Total', 'Order Profit Per Order', 'Order Region', 'Order State', 'Order Status', 'Product Name', 'Product Price', 'shipping date (DateOrders)', 'Shipping Mode']]]

data.loc[:,['Type', 'Days for shipping (real)', 'Days for shipping (scheduled)', 'Benefit per order', 'Sales per customer', 'Delivery status', 'Late_delivery_risk', 'Category Id', 'Category name', 'Customer City', 'Customer Country', 'Customer Segment', 'Customer State', 'Cusomter Street', 'Cusomter Zipcode', 'Department Name', 'Market', 'Order City', 'Order Country', 'Order date (DateOrders)', 'Order Item Discount', 'Order Item Discount Rate', 'Order Item Product Price', 'Order Item Profit Ratio', 'Order Item Quanity', 'Sales', 'Order Item Total', 'Order Profit Per Order', 'Order Region', 'Order State', 'Order Status', 'Product Name', 'Product Price', 'shipping date (DateOrders)', 'Shipping Mode']]

,Type,Days for shipping (real),Days for shipping (scheduled),Benefit per order,Sales per customer,Delivery status,Late_delivery_risk,Category Id,Category name,Customer City,Customer Country,Customer Segment,Customer State,Cusomter Street,Cusomter Zipcode,Department Name,Market,Order City,Order Country,Order date (DateOrders),Order Item Discount,Order Item Discount Rate,Order Item Product Price,Order Item Profit Ratio,Order Item Quanity,Sales,Order Item Total,Order Profit Per Order,Order Region,Order State,Order Status,Product Name,Product Price,shipping date (DateOrders),Shipping Mode
0,DEBIT,3,NaN,91.250000,314.640015,NaN,0,73,NaN,Caguas,Puerto Rico,Consumer,PR,NaN,NaN,Fitness,Pacific Asia,Bekasi,Indonesia,NaN,13.110000,0.04,327.750000,0.29,NaN,327.750000,314.640015,91.250000,Southeast Asia,Java Occidental,COMPLETE,Smart watch,327.750000,2/3/2018 22:56,Standard Class
1,TRANSFER,5,NaN,-249.089996,311.359985,NaN,1,73,NaN,Caguas,Puerto Rico,Consumer,PR,NaN,NaN,Fitness,Pacific Asia,Bikaner,India,NaN,16.389999,0.05,327.750000,-0.80,NaN,327.750000,311.359985,-249.089996,South Asia,Rajastán,PENDING,Smart watch,327.750000,1/18/2018 12:27,Standard Class
2,CASH,4,NaN,-247.779999,309.720001,NaN,0,73,NaN,San Jose,EE. UU.,Consumer,CA,NaN,NaN,Fitness,Pacific Asia,Bikaner,India,NaN,18.030001,0.06,327.750000,-0.80,NaN,327.750000,309.720001,-247.779999,South Asia,Rajastán,CLOSED,Smart watch,327.750000,1/17/2018 12:06,Standard Class
3,DEBIT,3,NaN,22.860001,304.809998,NaN,0,73,NaN,Los Angeles,EE. UU.,Home Office,CA,NaN,NaN,Fitness,Pacific Asia,Townsville,Australia,NaN,22.940001,0.07,327.750000,0.08,NaN,327.750000,304.809998,22.860001,Oceania,Queensland,COMPLETE,Smart watch,327.750000,1/16/2018 11:45,Standard Class
4,PAYMENT,2,NaN,134.210007,298.250000,NaN,0,73,NaN,Caguas,Puerto Rico,Corporate,PR,NaN,NaN,Fitness,Pacific Asia,Townsville,Australia,NaN,29.500000,0.09,327.750000,0.45,NaN,327.750000,298.250000,134.210007,Oceania,Queensland,PENDING_PAYMENT,Smart watch,327.750000,1/15/2018 11:24,Standard Class
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180514,CASH,4,NaN,40.000000,399.980011,NaN,0,45,NaN,Brooklyn,EE. UU.,Home Office,NY,NaN,NaN,Fan Shop,Pacific Asia,Shanghái,China,NaN,0.000000,0.00,399.980011,0.10,NaN,399.980011,399.980011,40.000000,Eastern Asia,Shanghái,CLOSED,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,1/20/2016 3:40,Standard Class
180515,DEBIT,3,NaN,-613.770019,395.980011,NaN,1,45,NaN,Bakersfield,EE. UU.,Corporate,CA,NaN,NaN,Fan Shop,Pacific Asia,Hirakata,Japón,NaN,4.000000,0.01,399.980011,-1.55,NaN,399.980011,395.980011,-613.770019,Eastern Asia,Osaka,COMPLETE,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,1/19/2016 1:34,Second Class
180516,TRANSFER,5,NaN,141.110001,391.980011,NaN,1,45,NaN,Bristol,EE. UU.,Corporate,CT,NaN,NaN,Fan Shop,Pacific Asia,Adelaide,Australia,NaN,8.000000,0.02,399.980011,0.36,NaN,399.980011,391.980011,141.110001,Oceania,Australia del Sur,PENDING,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,1/20/2016 21:00,Standard Class
180517,PAYMENT,3,NaN,186.229996,387.980011,NaN,0,45,NaN,Caguas,Puerto Rico,Consumer,PR,NaN,NaN,Fan Shop,Pacific Asia,Adelaide,Australia,NaN,12.000000,0.03,399.980011,0.48,NaN,399.980011,387.980011,186.229996,Oceania,Australia del Sur,PENDING_PAYMENT,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,1/18/2016 20:18,Standard Class
180518,PAYMENT,4,NaN,168.949997,383.980011,NaN,0,45,NaN,Caguas,Puerto Rico,Consumer,PR,NaN,NaN,Fan Shop,Pacific Asia,Nagercoil,India,NaN,16.000000,0.04,399.980011,0.44,NaN,399.980011,383.980011,168.949997,South Asia,Tamil Nadu,PENDING_PAYMENT,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,1/19/2016 18:54,Standard Class